.review-main {
    width: 70%;
}
.review-image {
    width: 30%;
}
.review-image img {
    max-width: 100%;
}
.btn-back {
    width: 10em;
    margin: auto;
}
.card-button {
    padding-left:20px;
}
.space {
    white-space:pre-wrap;
}
.review-main{
  margin-right:70px;
}

.current-page{
  color:white;
  margin-right:20px;
  margin-bottom:0;
}
