.image-wrapper {
  text-align:center;
}
.movie-image {
  height:150px;
  margin-bottom:20px;
  object-fit:cover;
}
.movie-title {
  height: 2em;
  font-size:23px;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.description{
  width:100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.detail-btn {
  display: block;
  width: 80%;
  margin: auto;
}
.pagination {
  justify-content:  center;
}

.current-page{
  color:white;
  margin-right:20px;
  margin-bottom:0;
}
